* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
  height: 100vh;
  transition: all 0.3s ease-out;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;
}

.app-left {
  flex: 0.8;
}

.app-right {
  display: flex;
  flex: 0.4;
  flex-direction: column;
}

.app-right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.radio-group {
  margin: auto;
}

fieldset.MuiFormControl-root {
  width: 100%;
}

legend.MuiFormLabel-root {
  font-style: italic;
  font-style: 0.6rem;
  margin: auto;
}

.app-graph {
  flex-grow: 1;
}

.app-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.app-dropdown {
  background-color: white;
  border-radius: 15px;
}

.app-dropdown .MuiOutlinedInput-root {
  border-radius: 15px;
}

.app-dropdown .MuiOutlinedInput-root .MuiSelect-outlined {
  border-radius: 15px;
}

.app-data > hr {
  border: 1px solid grey;
  opacity: 0.5;
  width: 98%;
  margin: 20px auto;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}