.infoBox {
    flex: 1;
    cursor: pointer;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5) !important;
    border-radius: 20px !important;
}

.infoBox-title {
    margin-left: 5px !important;
}

.infoBox-title > p {
    font-weight: 700;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox--selected {
    border-top: 10px solid rgb(47, 255, 57);
    transition: all 0.5s ease-out;
}

.infoBox--isBorderRed {
    border-color: #cc1034;
    transition: all 0.5s ease;
}

.infoBox--isBorderGreen {
    border-color: rgb(24, 211, 33);
}

.infoBox--isBorderGrey {
    border-color: grey;
}

.infoBox--isRed {
    color: #cc1034 !important;
}

.infoBox--isGreen {
    color: rgb(24, 211, 33) !important;
}

.infoBox--isGrey {
    color: grey !important;
}

.infoBox-cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.infoBox-total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 10px !important;
}